NODE_ENV = development || production
APP_KEY = string
DEBUG = app:*
API_HOST = http://api.ki.local (optional)
MEDIA_HOST = http://media.ki.local (optional)
FRONT_HOST = http://ki.local || http://localhost:1470 (optional)
FIREBASE_SERVER_KEY = key
KI_PORT = 1470