@import constants

a.avatar
    img
        width: 30px
        height: 30px
        border-radius: 15px

.dashboard-box
    background-color: $color-white-main
    padding: 20px
    margin-bottom: 20px
    display: table
    width: 100%
    border: 1px solid #bfbfbf
