@import _mixins
@import 'responsive/navigations'
@import 'responsive/competition'

@media only screen and (max-width: 543px)
    @include mobile-nav
    @include mobile-competition-sub-header
    .only-mobile
        display: block !important
    .hide-mobile
        display: none !important
    .card-mediapartner
        display: block
        padding: 15px
        border-top: none
        .thumbnails, .details
            @include fullWidth
        .details
            padding: 10px 0
            h3
                height: 138px
                overflow: hidden
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
    .container-competition-tab
        overflow: auto
        #btn-join
            display: none
@media only screen and (min-width: 544px) and (max-width: 767px)
    @include mobile-nav
    .only-mobile
        display: block !important
    .hide-mobile
        display: none !important
    .card-mediapartner
        display: block
        padding: 15px
        border-top: none
        .thumbnails, .details
            @include fullWidth
        .details
            padding: 10px 0
            h3
                height: 138px
                overflow: hidden
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
    .container-competition-tab
        overflow: auto
        #btn-join
            display: none
// @media only screen and (min-width: 992px) and (max-width: 1200px)
